input,
select,
button {
  padding: 8px 15px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

form {
  display: block;
  margin: 20px auto;
  width: 300px;
}

span {
  display: block;
  margin-top: 10px;
}
